$estilos:(
green :#7CDA24,
grey :  #282828,
);
@mixin centrar {
    display: block;
    margin: 0 auto;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cuprum',Helvetica,Arial,Lucida,sans-serif;
}
header{
    grid-area: header;
    z-index: 1000;
        nav{
            background: linear-gradient(to left, map-get($estilos,green), white);
            img{
                width: 20vw;
            }
            .nav-link{
                color: map-get($estilos,grey);
                font-size: 20px;
            }
        }
}

@import "index";
@import "vuelosbiplazas";
@import "comparti";
@import "contacto";
@import "nosotros";

footer{
    grid-area: footer;
    img{
        padding: 0px 10px;
    }
}


@media screen and (min-width:1600px){
    .presentacion iframe{
        width: 55%;
    }
    .campeonatos__h2{
        font-size: 3vh;
    }
    .campeonatos__ul--li{
        padding: 3px;
        font-size: 2.5vh;
    }
}

@media screen and (max-width:768px){
    header{
        nav{
            img{
                width: 50vw;
            }
        }
    }
    iframe{
        max-height: 220px;
    }
    .competencias{
        display: block;
    }
    .servicios{
        img{
            width: 75px;
        }
    }
    input{
        max-width: 50vw;
    }
}

@media screen and (max-width:1024px){
.nosotros__donde{
    iframe{
        width: 80vw;
        height: 30vh;
    }
}
}