*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cuprum',Helvetica,Arial,Lucida,sans-serif;
}
.index{
}
.header{
    grid-area: header;
    z-index: 1000;
}
nav{
    background: linear-gradient(to left, #7CDA24, white);
}
#imgnav{
    width: 20vw;
}
.nav-link{
    color: #282828;
    font-size: 20px;
}
.presentacion{
    grid-area: presentacion;
}
.presentacion iframe{
    z-index: 100;
    margin: auto; 
    display: block;
}
.presentacion__div--iframe{
    width: 70vw;
    height: 50vh;
}
.pilotos{
    padding-bottom: 20px;
}
.pilotos h3{
    text-align: center;
}
#myCarousel{
    border: solid 3px #282828;
}
.carousel-item img{
    margin: auto; 
    display: block;
    }
.competencias{
    display: grid;
    grid-template-areas:
    "nacionales internacionales"
    ;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    border: solid 3px #7CDA24;
}
.nacionales{
    padding: 6px;
}
.internacionales{
    padding: 6px;
}
.campeonatos__h2{
    font-size: 3.5vh;
}
.campeonatos__ul--li{
    padding: 1px;
    font-size: 3vh;
}
#vuelosb__a{
    grid-area: contactanos;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    padding: 15px;
}
#vuelosb__a:hover{
    color: #7CDA24;
}
.carousel-item img{
    max-width: 600px;
}
.pilotos__div--img{
}
.servicios{
    grid-area: servicios;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.vuelosb__servicios{
    width: 87px;
}
#footer{
    grid-area: footer;
}
.footer__img{
    padding: 0px 10px;
}
.compartiimg{
    max-width: 320px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}
@media screen and (min-width:1600px){
    .presentacion iframe{
        width: 55%;
    }
    .campeonatos__h2{
        font-size: 3vh;
    }
    .campeonatos__ul--li{
        padding: 3px;
        font-size: 2.5vh;
    }
}